html {
  scroll-behavior: smooth
}

.btn-sm:focus,
.btn:focus,
.form-checkbox:focus,
.form-input:focus,
.form-multiselect:focus,
.form-radio:focus,
.form-select:focus,
.form-textarea:focus,
:focus,
button:focus {
  outline: solid 2px
}

.form-checkbox:focus,
.form-input:focus,
.form-multiselect:focus,
.form-radio:focus,
.form-select:focus,
.form-textarea:focus {
  box-shadow: none !important
}

.hamburger svg> :nth-child(1),
.hamburger svg> :nth-child(2),
.hamburger svg> :nth-child(3) {
  transform-origin: center;
  transform: rotate(0)
}

.hamburger svg> :nth-child(1) {
  transition: y .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19), opacity .1s ease-in
}

.hamburger svg> :nth-child(2) {
  transition: transform .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger svg> :nth-child(3) {
  transition: y .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19), width .1s ease-in .25s
}

.hamburger.active svg> :nth-child(1) {
  opacity: 0;
  transform: rotate(225deg);
  transition: y .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s, opacity .1s ease-out .12s
}

.hamburger.active svg> :nth-child(2) {
  transform: rotate(225deg);
  transition: transform .22s cubic-bezier(.215, .61, .355, 1) .12s
}

.hamburger.active svg> :nth-child(3) {
  transform: rotate(135deg);
  transition: y .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s, width .1s ease-out
}

.blur {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px)
}

@-webkit-keyframes pulseLoop {
  0% {
    opacity: .15;
    transform: scale(1) translateZ(0)
  }

  30% {
    opacity: .15
  }

  60% {
    opacity: 0
  }

  80% {
    opacity: 0;
    transform: scale(1.8) translateZ(0)
  }
}

@keyframes pulseLoop {
  0% {
    opacity: .15;
    transform: scale(1) translateZ(0)
  }

  30% {
    opacity: .15
  }

  60% {
    opacity: 0
  }

  80% {
    opacity: 0;
    transform: scale(1.8) translateZ(0)
  }
}

@-webkit-keyframes pulseMiniLoop {
  0% {
    opacity: 0;
    transform: scale(1) translateZ(0)
  }

  30%,
  50% {
    opacity: .3
  }

  80% {
    opacity: 0;
    transform: scale(3) translateZ(0)
  }
}

@keyframes pulseMiniLoop {
  0% {
    opacity: 0;
    transform: scale(1) translateZ(0)
  }

  30%,
  50% {
    opacity: .3
  }

  80% {
    opacity: 0;
    transform: scale(3) translateZ(0)
  }
}

.pulse {
  transform: scale(1);
  opacity: 0;
  transform-origin: center;
  -webkit-animation: 10s linear infinite pulseLoop;
  animation: 10s linear infinite pulseLoop
}

.pulse-mini {
  -webkit-animation: 6s linear infinite pulseMiniLoop;
  animation: 6s linear infinite pulseMiniLoop
}

.pulse-1 {
  -webkit-animation-delay: -3s;
  animation-delay: -3s
}

.pulse-2 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s
}

.animation-delay-500 {
  -webkit-animation-delay: .5s !important;
  animation-delay: .5s !important
}

.animation-delay-1000 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important
}

.translate-z-0 {
  transform: translateZ(0)
}

[data-aos=zoom-y-out] {
  transform: scaleX(1.03);
  opacity: 0;
  transition-property: transform, opacity
}